/******
COMMON
******/

@use "./variables" as *;

body {
  font-family: "Montserrat";
  height: 100vh;
  background-color: $bg-color;
  background-image: linear-gradient($line-color-1 0px, transparent 0px),
    linear-gradient(90deg, $line-color-1 0px, transparent 0px),
    linear-gradient($line-color-2 7px, transparent 1px),
    linear-gradient(90deg, $line-color-2 7px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}
